/Source/Player/Windows/Res/*.aps
/Project/.vs/

/Project/Source/Player/Debug/
/Project/Source/Player/SoftRendererPlayer.dir/

/Project/Source/Runtime/Engine/EngineModule.dir/

/Project/Source/Runtime/Math/MathModule.dir/
/Project/Source/Runtime/Math/RendererModule.dir/

/Project/Source/Runtime/Renderer/MathModule.dir/
/Project/Source/Runtime/Renderer/RendererModule.dir/

/Output

*.cmake